{% extends 'base.html' %}


{% block title %} {{ topic.subject }} {% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb dark my-3 p-3 bg-light rounded-3">
        <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">Boards</a></li>
        <li class="breadcrumb-item"><a href="{% url 'boards:board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
        <li class="breadcrumb-item active">{{ topic.subject }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'boards:new_post' topic.board.pk topic.pk %}" class="btn btn-primary my-1">New Post</a>
    {% for post in topic.posts.all reversed %}
        <div class="card my-2">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-9">{{ post.created_by.username }}</h5>
                {% if user == post.created_by %}
                    <div class="text-end col-3"><a href="#" class="btn btn-secondary btn-sm">Edit</a></div>
                {% endif %}
                <small class="text-muted">{{ post.date }}</small>
                </div>
            </div>
            <div class="card-body py-0">
                <p>{{ post.message }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}