{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb dark my-3 p-3 bg-light rounded-3">
        <li class="breadcrumb-item">change password</li>
        <li class="breadcrumb-item active">success</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert">Password changed successfully!</div>
    <form action="{% url 'boards:home' %}" class="form" novalidate>
        <button class="btn btn-success my-1">Back to Home Page</button>
    </form>
{% endblock %}
