{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb dark my-3 p-3 bg-light rounded-3">
        <li class="breadcrumb-item active">change password</li>
    </ol>
{% endblock %}
{% block content %}
    <form action="{% url 'accounts:password_change_done' %}" method="post" class="form" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary my-1">Apply</button>
    </form>
{% endblock %}
